<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style media="screen">
    img{
      height: 100px;

    }
    .hibilogo{
      margin-top: -110px;
      float: right;
    }
    .hibilogo1{

      float: left;
    }
    .cabecera{
      border-bottom: 1px solid #BDBDBD
    }
    .datos{
      margin-top: 15px;
    }
    .ausencias{
      margin-top: 15px;
    }
    .notificaciones{
      margin-top: 15px;
    }
    .image{
      width: 150px;
      height: 150px;
      border: 1px solid #BDBDBD;
      position: absolute;
      margin-left: 500px;
    }
    .notificaciones li{
      text-decoration: none
    }

    .photo{
        position: absolute;
        left: 80%;
        width: 100px;
        height: 100px;
        border-radius: 50%;

    }
    .photo2{

        position: relative;

        width: 100px;
        height: 100px;
        border-radius: 50%;

    }

    </style>
  </head>
  <body>

<div class="container" style="text-align:center;">
  <%= wicked_pdf_image_tag ('logo1@4x.png') ,:class =>"hibilogo1"  %>
  <h1>Reporte de estudiante</h1>
</div>

          <%= wicked_pdf_image_tag @student.avatar.url ,:class =>"photo"%>






      <div class="container cabecera">
        <h1>Datos del alumno</h1>
      </div>


      <div class="container datos">
        <p><strong>Nombre:</strong> <%= @student.nombre %> <%= @student.apellido %></p>
        <p><strong>Salon:</strong> <%= @student.classroom.name %></p>
        <p><strong>Representante:</strong> <%=@student.representante1%> - <%=@student.representante2%> </p>
        <p><strong>Nro. del representante:</strong> <%=@student.phone1%> - <%=@student.phone2%> </p>
        <p><strong>Email:</strong> <%=@student.email1%> - <%=@student.email2%></p>
      </div>

      <div class="container cabecera">
        <h1>Ausencias</h1>
      </div>
      <div class="container ausencias">
        <%@count = @absents.count%>
        <p><strong>Nro. de ausencias:</strong> <%=@count%></p>
      </div>

      <div class="container cabecera">
        <h1>Retrasos</h1>
      </div>
      <div class="container ausencias">
        <%@count = @delays.count%>
        <p><strong>Nro. de Retrasos:</strong> <%=@count%></p>
      </div>

      <div class="container cabecera">
        <h1>Notificaciones</h1>
      </div>
      <div class="container notificaciones">
        <% @student.notifications.each do |p| %>
          <h5><b><%= p.lackcode.name%> - <%= p.created_at.strftime("%A %H:%M")%></b></h5>
          <h6><b><%= p.user.firstname%> <%= p.user.lastname%></b></h6>
              <%= p.description%><br>

            <hr>
        <% end %>
      </div>






  </body>
</html>
