<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @schedule.start_at.strftime("%H:%M") %>
</p>

<p>
  <strong>End at:</strong>
  <%= @schedule.end_at.strftime("%H:%M") %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
