
	<body class="demo-1">
		<div class="container">
			<!-- Top Navigation -->
			<div class="codrops-top clearfix">

				<span class="right"><a class="codrops-icon codrops-icon-drop" href="users/sign_in"><span>Log In</span></a></span>

			</div>
			<div id="wrap" class="wrap">
				<div class="mockup">
					<%= image_tag("mockup.jpg", :alt => "rss feed", :class => "mockup__img") %>
					<div id="mobile" class="mobile">
						<ul id="slideshow" class="slideshow">
							<li class="slideshow__item"><%= image_tag("1.jpg", :alt => "rss feed") %></li>
							<li class="slideshow__item"><%= image_tag("2.jpg", :alt => "rss feed") %></li>
							<li class="slideshow__item"><%= image_tag("3.jpg", :alt => "rss feed") %></li>
							<li class="slideshow__item"><%= image_tag("4.jpg", :alt => "rss feed") %></li>
						</ul>
					</div>
					<header class="codrops-header">
						<h1> Hibi <i>Una aplicacion web para el control de diario de clases </i></h1>
					</header>
				</div>
			</div>


		</div><!-- /container -->
    <%=  javascript_include_tag "main" %>
    <%=  javascript_include_tag "classie" %>
		<script>
			(function() {
				new Slideshow( document.getElementById( 'slideshow' ) );

				/* Mockup responsiveness */
				var body = docElem = window.document.documentElement,
					wrap = document.getElementById( 'wrap' ),
					mockup = wrap.querySelector( '.mockup' ),
					mockupWidth = mockup.offsetWidth;

				scaleMockup();

				function scaleMockup() {
					var wrapWidth = wrap.offsetWidth,
						val = wrapWidth / mockupWidth;

					mockup.style.transform = 'scale3d(' + val + ', ' + val + ', 1)';
				}

				window.addEventListener( 'resize', resizeHandler );

				function resizeHandler() {
					function delayed() {
						resize();
						resizeTimeout = null;
					}
					if ( typeof resizeTimeout != 'undefined' ) {
						clearTimeout( resizeTimeout );
					}
					resizeTimeout = setTimeout( delayed, 50 );
				}

				function resize() {
					scaleMockup();
				}
			})();
		</script>
	</body>
