
<% if current_user.admin == true %>

	<div id="fullpage" style="margin-top:20px;">

					<!-- SECCIONES A -->

		<div class="section" >
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Primero A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
									<div class="container center-box">
										<table class="table table-striped table-hover ">
										  <thead>
										    <tr>
										      <th>Materia</th>
										      <th>Profesor</th>
										      <th>Horario</th>

										    </tr>
										  </thead>

										  <tbody>
												<% @todaslashoras.each do |p| %>
													<% if Time.now.strftime("%A")	== p.day.dia%>
														<% if p.classroom.name	== "Primero A"%>
										      <tr>
										        <td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
										        <td><%=p.user.firstname%></td>
										        <td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

										      </tr>
													<%end%>
												<%end%>
											<% end %>
										  </tbody>
										</table>

									</div>

						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Primero B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
							<div class="container center-box">
								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>Materia</th>
											<th>Profesor</th>
											<th>Horario</th>

										</tr>
									</thead>

									<tbody>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Primero B"%>
											<tr>
												<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
												<td><%=p.user.firstname%></td>
												<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

											</tr>
											<%end%>
										<%end%>
									<% end %>
									</tbody>
								</table>

							</div>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Primero C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
								<div class="container center-box">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th>Materia</th>
												<th>Profesor</th>
												<th>Horario</th>

											</tr>
										</thead>

										<tbody>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Primero C"%>
												<tr>
													<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
													<td><%=p.user.firstname%></td>
													<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

												</tr>
												<%end%>
											<%end%>
										<% end %>
										</tbody>
									</table>

								</div>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Primero D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
									<div class="container center-box">
										<table class="table table-striped table-hover ">
											<thead>
												<tr>
													<th>Materia</th>
													<th>Profesor</th>
													<th>Horario</th>

												</tr>
											</thead>

											<tbody>
												<% @todaslashoras.each do |p| %>
													<% if Time.now.strftime("%A")	== p.day.dia%>
														<% if p.classroom.name	== "Primero D"%>
													<tr>
														<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
														<td><%=p.user.firstname%></td>
														<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

													</tr>
													<%end%>
												<%end%>
											<% end %>
											</tbody>
										</table>

									</div>
									</div>
								</div>
							</div>
 			</div>

			<!-- SECCIONES 2 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Segundo A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
						<div class="container center-box">
							<table class="table table-striped table-hover ">
								<thead>
									<tr>
										<th>Materia</th>
										<th>Profesor</th>
										<th>Horario</th>

									</tr>
								</thead>

								<tbody>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Segundo A"%>
										<tr>
											<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
											<td><%=p.user.firstname%></td>
											<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

										</tr>
										<%end%>
									<%end%>
								<% end %>
								</tbody>
							</table>

						</div>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Segundo B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
							<div class="container center-box">
								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>Materia</th>
											<th>Profesor</th>
											<th>Horario</th>

										</tr>
									</thead>

									<tbody>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Segundo B"%>
											<tr>
												<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
												<td><%=p.user.firstname%></td>
												<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

											</tr>
											<%end%>
										<%end%>
									<% end %>
									</tbody>
								</table>

							</div>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Segundo C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
								<div class="container center-box">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th>Materia</th>
												<th>Profesor</th>
												<th>Horario</th>

											</tr>
										</thead>

										<tbody>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Segundo C"%>
												<tr>
													<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
													<td><%=p.user.firstname%></td>
													<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

												</tr>
												<%end%>
											<%end%>
										<% end %>
										</tbody>
									</table>

								</div>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Segundo D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
									<div class="container center-box">
										<table class="table table-striped table-hover ">
											<thead>
												<tr>
													<th>Materia</th>
													<th>Profesor</th>
													<th>Horario</th>

												</tr>
											</thead>

											<tbody>
												<% @todaslashoras.each do |p| %>
													<% if Time.now.strftime("%A")	== p.day.dia%>
														<% if p.classroom.name	== "Segundo D"%>
													<tr>
														<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
														<td><%=p.user.firstname%></td>
														<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

													</tr>
													<%end%>
												<%end%>
											<% end %>
											</tbody>
										</table>

									</div>
									</div>
								</div>
							</div>
		</div>

					<!-- SECCIONES 3 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Tercero A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
						<div class="container center-box">
							<table class="table table-striped table-hover ">
								<thead>
									<tr>
										<th>Materia</th>
										<th>Profesor</th>
										<th>Horario</th>

									</tr>
								</thead>

								<tbody>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Tercero A"%>
										<tr>
											<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
											<td><%=p.user.firstname%></td>
											<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

										</tr>
										<%end%>
									<%end%>
								<% end %>
								</tbody>
							</table>

						</div>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Tercero B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
							<div class="container center-box">
								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>Materia</th>
											<th>Profesor</th>
											<th>Horario</th>

										</tr>
									</thead>

									<tbody>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Tercero B"%>
											<tr>
												<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
												<td><%=p.user.firstname%></td>
												<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

											</tr>
											<%end%>
										<%end%>
									<% end %>
									</tbody>
								</table>

							</div>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Tercero C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
								<div class="container center-box">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th>Materia</th>
												<th>Profesor</th>
												<th>Horario</th>

											</tr>
										</thead>

										<tbody>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Tercero C"%>
												<tr>
													<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
													<td><%=p.user.firstname%></td>
													<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

												</tr>
												<%end%>
											<%end%>
										<% end %>
										</tbody>
									</table>

								</div>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Tercero D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
									<div class="container center-box">
										<table class="table table-striped table-hover ">
											<thead>
												<tr>
													<th>Materia</th>
													<th>Profesor</th>
													<th>Horario</th>

												</tr>
											</thead>

											<tbody>
												<% @todaslashoras.each do |p| %>
													<% if Time.now.strftime("%A")	== p.day.dia%>
														<% if p.classroom.name	== "Tercero D"%>
													<tr>
														<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
														<td><%=p.user.firstname%></td>
														<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

													</tr>
													<%end%>
												<%end%>
											<% end %>
											</tbody>
										</table>

									</div>
									</div>
								</div>
							</div>
		</div>

					<!-- SECCIONES 4 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Cuarto A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
						<div class="container center-box">
							<table class="table table-striped table-hover ">
								<thead>
									<tr>
										<th>Materia</th>
										<th>Profesor</th>
										<th>Horario</th>

									</tr>
								</thead>

								<tbody>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Cuarto A"%>
										<tr>
											<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
											<td><%=p.user.firstname%></td>
											<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

										</tr>
										<%end%>
									<%end%>
								<% end %>
								</tbody>
							</table>

						</div>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Cuarto B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
							<div class="container center-box">
								<table class="table table-striped table-hover ">
									<thead>
										<tr>
											<th>Materia</th>
											<th>Profesor</th>
											<th>Horario</th>

										</tr>
									</thead>

									<tbody>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Cuarto B"%>
											<tr>
												<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
												<td><%=p.user.firstname%></td>
												<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

											</tr>
											<%end%>
										<%end%>
									<% end %>
									</tbody>
								</table>

							</div>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Cuarto C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
								<div class="container center-box">
									<table class="table table-striped table-hover ">
										<thead>
											<tr>
												<th>Materia</th>
												<th>Profesor</th>
												<th>Horario</th>

											</tr>
										</thead>

										<tbody>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Cuarto C"%>
												<tr>
													<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
													<td><%=p.user.firstname%></td>
													<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

												</tr>
												<%end%>
											<%end%>
										<% end %>
										</tbody>
									</table>

								</div>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Cuarto D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
									<div class="container center-box">
										<table class="table table-striped table-hover ">
											<thead>
												<tr>
													<th>Materia</th>
													<th>Profesor</th>
													<th>Horario</th>

												</tr>
											</thead>

											<tbody>
												<% @todaslashoras.each do |p| %>
													<% if Time.now.strftime("%A")	== p.day.dia%>
														<% if p.classroom.name	== "Cuarto D"%>
													<tr>
														<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
														<td><%=p.user.firstname%></td>
														<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

													</tr>
													<%end%>
												<%end%>
											<% end %>
											</tbody>
										</table>

									</div>
									</div>
								</div>
							</div>
	</div>

	<!-- SECCIONES 4 -->

<div class="section">
<div class="slide" id="slide1">
<div class="container">
	<div class="container">
		<div class="box-header">
			<h3 style="color:white;">Quinto A</h3>
				<p style="color:white;">Horario Los Arcos</p>
		</div>
		<div class="container center-box">
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>Materia</th>
						<th>Profesor</th>
						<th>Horario</th>

					</tr>
				</thead>

				<tbody>
					<% @todaslashoras.each do |p| %>
						<% if Time.now.strftime("%A")	== p.day.dia%>
							<% if p.classroom.name	== "Quinto A"%>
						<tr>
							<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
							<td><%=p.user.firstname%></td>
							<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

						</tr>
						<%end%>
					<%end%>
				<% end %>
				</tbody>
			</table>

		</div>
		</div>
	</div>
</div>
<div class="slide" id="slide2">
	<div class="container">
		<div class="container">
			<div class="box-header">
				<h3 style="color:white;">Quinto B</h3>
					<p style="color:white;">Horario Los Arcos</p>
			</div>
			<div class="container center-box">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>Materia</th>
							<th>Profesor</th>
							<th>Horario</th>

						</tr>
					</thead>

					<tbody>
						<% @todaslashoras.each do |p| %>
							<% if Time.now.strftime("%A")	== p.day.dia%>
								<% if p.classroom.name	== "Quinto B"%>
							<tr>
								<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
								<td><%=p.user.firstname%></td>
								<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

							</tr>
							<%end%>
						<%end%>
					<% end %>
					</tbody>
				</table>

			</div>
			</div>
		</div>
	</div>
	<div class="slide" id="slide3">
		<div class="container">
			<div class="container">
				<div class="box-header">
					<h3 style="color:white;">Quinto C</h3>
						<p style="color:white;">Horario Los Arcos</p>
				</div>
				<div class="container center-box">
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th>Materia</th>
								<th>Profesor</th>
								<th>Horario</th>

							</tr>
						</thead>

						<tbody>
							<% @todaslashoras.each do |p| %>
								<% if Time.now.strftime("%A")	== p.day.dia%>
									<% if p.classroom.name	== "Quinto C"%>
								<tr>
									<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
									<td><%=p.user.firstname%></td>
									<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

								</tr>
								<%end%>
							<%end%>
						<% end %>
						</tbody>
					</table>

				</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide4">
			<div class="container">
				<div class="container">
					<div class="box-header">
						<h3 style="color:white;">Quinto D</h3>
							<p style="color:white;">Horario Los Arcos</p>
					</div>
					<div class="container center-box">
						<table class="table table-striped table-hover ">
							<thead>
								<tr>
									<th>Materia</th>
									<th>Profesor</th>
									<th>Horario</th>
								</tr>
							</thead>

							<tbody>
								<% @todaslashoras.each do |p| %>
									<% if Time.now.strftime("%A")	== p.day.dia%>
										<% if p.classroom.name	== "Quinto D"%>
									<tr>
										<td><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></td>
										<td><%=p.user.firstname%></td>
										<td><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></td>

									</tr>
									<%end%>
								<%end%>
							<% end %>
							</tbody>
						</table>

					</div>
					</div>
				</div>
			</div>
</div>


</div>


<% else %>
	<div class="container padding-box">
	<div class="container">
		<div class="box-header">
		  <h3 style="color:white;"><%=Time.now.strftime("%B %d")%></h3>
		    <p style="color:white;">Horario Itat</p>
		</div>

			  <% current_user.subjectsto_classroom.each do |p| %>

					<% if Time.now.strftime("%A")	== p.day.dia%>

					<div class="container center-box">
							<h1><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h1>
							<div class="row">
							      <div class="content-main">
									<%=p.classroom.name%>
							      </div>
							      <div class="content-secondary">
							        <%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%>
							      </div>
							    </div>

					</div>
					<%end%>
			  <% end %>


		</div>
	</div>
<% end %>
