
<% if current_user.admin == true %>

	<div id="fullpage" style="margin-top:20px;">

					<!-- SECCIONES A -->

		<div class="section" >
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Primero A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
								<% @todaslashoras.each do |p| %>
									<% if Time.now.strftime("%A")	== p.day.dia%>
										<% if p.classroom.name	== "Primero A"%>
									<div class="container center-box">

											<div class="row">
														<div class="col-md-6">
															<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
														</div>
														<div class="col-md-6">
														<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
														</div>
												</div>
									</div>
										<%end%>
									<%end%>
								<% end %>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Primero B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Primero B"%>
										<div class="container center-box">

												<div class="row">
															<div class="col-md-6">
																<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
															</div>
															<div class="col-md-6">
															<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
															</div>
													</div>
										</div>
											<%end%>
										<%end%>
									<% end %>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Primero C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Primero C"%>
											<div class="container center-box">

													<div class="row">
																<div class="col-md-6">
																	<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																</div>
																<div class="col-md-6">
																<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																</div>
														</div>
											</div>
												<%end%>
											<%end%>
										<% end %>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Primero D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Primero D"%>
												<div class="container center-box">

														<div class="row">
																	<div class="col-md-6">
																		<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																	</div>
																	<div class="col-md-6">
																	<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																	</div>
															</div>
												</div>
													<%end%>
												<%end%>
											<% end %>
									</div>
								</div>
							</div>
 			</div>

			<!-- SECCIONES 2 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Segundo A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
								<% @todaslashoras.each do |p| %>
									<% if Time.now.strftime("%A")	== p.day.dia%>
										<% if p.classroom.name	== "Segundo A"%>
									<div class="container center-box">

											<div class="row">
														<div class="col-md-6">
															<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
														</div>
														<div class="col-md-6">
														<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
														</div>
												</div>
									</div>
										<%end%>
									<%end%>
								<% end %>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Segundo B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Segundo B"%>
										<div class="container center-box">

												<div class="row">
															<div class="col-md-6">
																<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
															</div>
															<div class="col-md-6">
															<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
															</div>
													</div>
										</div>
											<%end%>
										<%end%>
									<% end %>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Segundo C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Segundo C"%>
											<div class="container center-box">

													<div class="row">
																<div class="col-md-6">
																	<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																</div>
																<div class="col-md-6">
																<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																</div>
														</div>
											</div>
												<%end%>
											<%end%>
										<% end %>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Segundo D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Segundo D"%>
												<div class="container center-box">

														<div class="row">
																	<div class="col-md-6">
																		<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																	</div>
																	<div class="col-md-6">
																	<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																	</div>
															</div>
												</div>
													<%end%>
												<%end%>
											<% end %>
									</div>
								</div>
							</div>
		</div>

					<!-- SECCIONES 3 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Tercero A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
								<% @todaslashoras.each do |p| %>
									<% if Time.now.strftime("%A")	== p.day.dia%>
										<% if p.classroom.name	== "Tercero A"%>
									<div class="container center-box">

											<div class="row">
														<div class="col-md-6">
															<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
														</div>
														<div class="col-md-6">
														<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
														</div>
												</div>
									</div>
										<%end%>
									<%end%>
								<% end %>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Tercero B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Tercero B"%>
										<div class="container center-box">

												<div class="row">
															<div class="col-md-6">
																<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
															</div>
															<div class="col-md-6">
															<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
															</div>
													</div>
										</div>
											<%end%>
										<%end%>
									<% end %>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Tercero C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Tercero C"%>
											<div class="container center-box">

													<div class="row">
																<div class="col-md-6">
																	<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																</div>
																<div class="col-md-6">
																<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																</div>
														</div>
											</div>
												<%end%>
											<%end%>
										<% end %>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Tercero D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Tercero D"%>
												<div class="container center-box">

														<div class="row">
																	<div class="col-md-6">
																		<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																	</div>
																	<div class="col-md-6">
																	<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																	</div>
															</div>
												</div>
													<%end%>
												<%end%>
											<% end %>
									</div>
								</div>
							</div>
		</div>

					<!-- SECCIONES 4 -->

		<div class="section">
			<div class="slide" id="slide1">
				<div class="container">
					<div class="container">
						<div class="box-header">
							<h3 style="color:white;">Cuarto A</h3>
								<p style="color:white;">Horario Los Arcos</p>
						</div>
								<% @todaslashoras.each do |p| %>
									<% if Time.now.strftime("%A")	== p.day.dia%>
										<% if p.classroom.name	== "Cuarto A"%>
									<div class="container center-box">

											<div class="row">
														<div class="col-md-6">
															<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
														</div>
														<div class="col-md-6">
														<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
														</div>
												</div>
									</div>
										<%end%>
									<%end%>
								<% end %>
						</div>
					</div>
				</div>
				<div class="slide" id="slide2">
					<div class="container">
						<div class="container">
							<div class="box-header">
								<h3 style="color:white;">Cuarto B</h3>
									<p style="color:white;">Horario Los Arcos</p>
							</div>
									<% @todaslashoras.each do |p| %>
										<% if Time.now.strftime("%A")	== p.day.dia%>
											<% if p.classroom.name	== "Cuarto B"%>
										<div class="container center-box">

												<div class="row">
															<div class="col-md-6">
																<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
															</div>
															<div class="col-md-6">
															<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
															</div>
													</div>
										</div>
											<%end%>
										<%end%>
									<% end %>
							</div>
						</div>
					</div>
					<div class="slide" id="slide3">
						<div class="container">
							<div class="container">
								<div class="box-header">
									<h3 style="color:white;">Cuarto C</h3>
										<p style="color:white;">Horario Los Arcos</p>
								</div>
										<% @todaslashoras.each do |p| %>
											<% if Time.now.strftime("%A")	== p.day.dia%>
												<% if p.classroom.name	== "Cuarto C"%>
											<div class="container center-box">

													<div class="row">
																<div class="col-md-6">
																	<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																</div>
																<div class="col-md-6">
																<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																</div>
														</div>
											</div>
												<%end%>
											<%end%>
										<% end %>
								</div>
							</div>
						</div>
						<div class="slide" id="slide4">
							<div class="container">
								<div class="container">
									<div class="box-header">
										<h3 style="color:white;">Cuarto D</h3>
											<p style="color:white;">Horario Los Arcos</p>
									</div>
											<% @todaslashoras.each do |p| %>
												<% if Time.now.strftime("%A")	== p.day.dia%>
													<% if p.classroom.name	== "Cuarto D"%>
												<div class="container center-box">

														<div class="row">
																	<div class="col-md-6">
																		<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
																	</div>
																	<div class="col-md-6">
																	<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
																	</div>
															</div>
												</div>
													<%end%>
												<%end%>
											<% end %>
									</div>
								</div>
							</div>
	</div>

	<!-- SECCIONES 4 -->

<div class="section">
<div class="slide" id="slide1">
<div class="container">
	<div class="container">
		<div class="box-header">
			<h3 style="color:white;">Quinto A</h3>
				<p style="color:white;">Horario Los Arcos</p>
		</div>
				<% @todaslashoras.each do |p| %>
					<% if Time.now.strftime("%A")	== p.day.dia%>
						<% if p.classroom.name	== "Quinto A"%>
					<div class="container center-box">

							<div class="row">
										<div class="col-md-6">
											<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
										</div>
										<div class="col-md-6">
										<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
										</div>
								</div>
					</div>
						<%end%>
					<%end%>
				<% end %>
		</div>
	</div>
</div>
<div class="slide" id="slide2">
	<div class="container">
		<div class="container">
			<div class="box-header">
				<h3 style="color:white;">Quinto B</h3>
					<p style="color:white;">Horario Los Arcos</p>
			</div>
					<% @todaslashoras.each do |p| %>
						<% if Time.now.strftime("%A")	== p.day.dia%>
							<% if p.classroom.name	== "Quinto B"%>
						<div class="container center-box">

								<div class="row">
											<div class="col-md-6">
												<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
											</div>
											<div class="col-md-6">
											<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
											</div>
									</div>
						</div>
							<%end%>
						<%end%>
					<% end %>
			</div>
		</div>
	</div>
	<div class="slide" id="slide3">
		<div class="container">
			<div class="container">
				<div class="box-header">
					<h3 style="color:white;">Quinto C</h3>
						<p style="color:white;">Horario Los Arcos</p>
				</div>
						<% @todaslashoras.each do |p| %>
							<% if Time.now.strftime("%A")	== p.day.dia%>
								<% if p.classroom.name	== "Quinto C"%>
							<div class="container center-box">

									<div class="row">
												<div class="col-md-6">
													<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
												</div>
												<div class="col-md-6">
												<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
												</div>
										</div>
							</div>
								<%end%>
							<%end%>
						<% end %>
				</div>
			</div>
		</div>
		<div class="slide" id="slide4">
			<div class="container">
				<div class="container">
					<div class="box-header">
						<h3 style="color:white;">Quinto D</h3>
							<p style="color:white;">Horario Los Arcos</p>
					</div>
							<% @todaslashoras.each do |p| %>
								<% if Time.now.strftime("%A")	== p.day.dia%>
									<% if p.classroom.name	== "Quinto D"%>
								<div class="container center-box">

										<div class="row">
													<div class="col-md-6">
														<h3><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h3>
													</div>
													<div class="col-md-6">
													<h3><%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%></h3>
													</div>
											</div>
								</div>
									<%end%>
								<%end%>
							<% end %>
					</div>
				</div>
			</div>
</div>


</div>


<% else %>
	<div class="container padding-box">
	<div class="container">
		<div class="box-header">
		  <h3 style="color:white;"><%=Time.now.strftime("%B %d")%></h3>
		    <p style="color:white;">Horario Itat</p>
		</div>

			  <% current_user.subjectsto_classroom.each do |p| %>

					<% if Time.now.strftime("%A")	== p.day.dia%>

					<div class="container center-box">
							<h1><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h1>
							<div class="row">
							      <div class="content-main">
									<%=p.classroom.name%>
							      </div>
							      <div class="content-secondary">
							        <%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%>
							      </div>
							    </div>

					</div>
					<%end%>
			  <% end %>


		</div>
	</div>
<% end %>
