
<% if current_user.admin == true %>
	<h2>Welcome eres administrador</h2>
<% else %>
	<div class="container padding-box">
	<div class="container">
		<div class="box-header">
		  <h3 style="color:white;"><%=Time.now.strftime("%B %d")%></h3>
		    <p style="color:white;">Horario Itat</p>
		</div>

			  <% current_user.subjectsto_classroom.each do |p| %>

					<% if Time.now.strftime("%A")	== p.day.dia%>

					<div class="container center-box">
							<h1><a data-method="get" href="subjectsto_classrooms/<%=p.id%>/nomina/<%=p.classroom.id%>"><%=p.subject.name%></a></h1>
							<div class="row">
							      <div class="content-main">
									<%=p.classroom.name%>
							      </div>
							      <div class="content-secondary">
							        <%=p.schedule.start_at.strftime("%H:%M")%>-<%=p.schedule.end_at.strftime("%H:%M")%>
							      </div>
							    </div>

					</div>
					<%end%>
			  <% end %>


		</div>
	</div>
<% end %>
