<div class="container padding-box">


<div class="container">
	<div class="box-header">

	  <h3 style="color:white;"><%=@nomina.classroom.name %></h3>
	    <p style="color:white;">Horario Itat</p>
	</div>


	<div class="container center1">
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>nombre</th>

	    </tr>
	  </thead>

	  <tbody>

	    <% @nomina.classroom.students.each do |p| %>
	      <tr>
				<td><%= image_tag p.avatar.url(:medium),:class =>"photo2" %></td>
	        <td><h1><%= p.nombre %> <%= p.apellido %></h1></td>
	        <td><h1><%= link_to 'Inasistente', new_subjectsto_classroom_student_absent_path(@nomina.id, p.id) %></h1></td>
					<td><h1><%= link_to 'retraso', new_subjectsto_classroom_student_delay_path(@nomina.id, p.id) %></h1></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>
	</div>
