<!DOCTYPE html>
<html>
  <head>
    <title>Hibi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Una aplicación web para el control de diario de clases | by Alessandro Varuzza</title>

    <%=  javascript_include_tag "modernizr.custom" %>
    <%=  stylesheet_link_tag "demo" %>
    <%=  stylesheet_link_tag "animate" %>
    <%=  stylesheet_link_tag "mockup1" %>
    <%=  stylesheet_link_tag "normalize" %>


  </head>



<body>


<%= yield %>

</body>



</html>
