<!DOCTYPE html>
<html>
  <head>
    <title>Hibi</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perspective Mockup Slideshow | Demo 1</title>
    <meta name="description" content="A perspective slideshow based on Franklin Ta's CSS matrix3d transforms" />
    <meta name="keywords" content="perspective, mockup, slideshow, transform, 3d, matrix, css" />
    <meta name="author" content="Codrops" />
    <%=  stylesheet_link_tag "demo" %>
    <%=  stylesheet_link_tag "animate" %>
    <%=  stylesheet_link_tag "mockup1" %>
    <%=  stylesheet_link_tag "normalize" %>

    <%=  javascript_include_tag "modernizr.custom" %>
  </head>



<body>


<%= yield %>

</body>



</html>
